.clients__title {
  font-weight: bold;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.17;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.clients-list__item {
  width: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    width: calc(100% / 3 - 30px);
  }

  @media screen and (min-width: 1200px) {
    width: 210px;
    & + & {
      margin-left: 30px;
    }
  }
}

.clients-list__link {
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  @extend %align-list;
  justify-content: center;
  color: #afb1b8;

  transition-property: color, border;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-function);

  &:hover,
  &:focus {
    border: 1px solid #2196f3;
    color: #2196f3;
  }
}

.clients-list__icon {
  fill: currentColor;
}
