.footer-site {
  background-color: var(--back-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-links {
  display: flex;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  @media screen and (min-width: 1200px) {
    align-items: baseline;
  }
}

.address-box {
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.address-box__logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: #ffffff;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}

.address-box__logo-web {
  color: var(--accent-color);
}

.footer-address {
  margin-top: 20px;
  margin-bottom: 60px;
}

.address-list {
  @media screen and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.address-list__item:not(:last-child) {
  margin-bottom: 8px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.address-list__link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff99;

  transition-property: color;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.address-list__link--color {
  color: #ffffff;
}
