.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 450ms, visibility 450ms;
  overflow-y: scroll;
}

.backdrop.is-hidden {
  .modal {
    transform: translate(-50%, -50%) scale(0.1) perspective(600px) rotateX(60deg);
  }
}

.modal {
  width: 90vw;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: scale(1) perspective(600px) rotateX(0deg);
  transition: transform 1000ms;

  @media screen and (max-width: 1199px) {
    margin: 10px auto;
  }

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
  }
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  @extend %align-list;
  justify-content: center;

  transition-property: fill;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-function);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.modal-form__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 12px;

  @media screen and (min-width: 1200px) {
    line-height: 1.15;
  }
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-item-color);

  @media screen and (max-width: 767px) {
    &:focus-within {
      color: var(--accent-color);
    }
  }
}

.form-field {
  position: relative;
}

.form-field__input {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 15px 12px 42px;
  outline: none;

  transition-property: border-color;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-function);

  &:focus {
    border-color: var(--accent-color);
  }
}

.label-text {
  margin-bottom: 20px;
}

.label-text__textarea {
  resize: none;
  height: 120px;
  padding: 12px 16px;

  &::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.form-field__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  transition-property: fill;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-function);

  .form-field__input:focus + & {
    fill: var(--accent-color);
  }
}

.policy {
  @extend %align-list;
  margin-left: auto;
  margin-right: auto;
}

.policy__checkbox-icon {
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid var(--text-color);
  margin-right: 7px;

  .policy__checkbox:checked + & {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    background-image: url(../images/check.svg);
    background-size: contain;
    background-origin: border-box;
  }
}

.policy__checkbox {
  appearance: none;
  position: absolute;
}

.policy__text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.71;
  }
}

.policy__link {
  text-decoration: underline;
  color: var(--accent-color);
}

.form-btn {
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 55px;
  margin: 30px auto 40px auto;

  transition-property: background-color;
  transition-duration: var(--general-duration);
  transition-timing-function: var(--general-function);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
